* {
	box-sizing: border-box;
	font-size: 24px;
	background-color: rgb(10, 20, 190);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	color: #ffffff;
}
body{display: flex;
	position: relative;
	justify-content: center;
	align-items: center;

}
.start {
	display: flex;
	position: relative;
	background-color: red;
	transform: translateY(50%);
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
}
